# -*- coding: utf-8 mode: sh -*- vim:sw=4:sts=4:et:ai:si:sta:fenc=utf-8

##~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
## Authentification

# Faut-il utiliser l'authentification CAS?
AUTH_CAS=

# Adresse de base du serveur CAS
CAS_URL=https://cas.univ.fr/cas

##~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
## Accès à l'application

# Les valeurs par défaut sont faites pour le développement sur l'hôte local.
# Si l'application doit être rendue accessible à tous les utilisateurs, il faut
# - modifier la valeur LSN_ADDR, par exemple LSN_ADDR=80
# - modifier la valeur APP_URL, par exemple http://serveur.univ.tld
#   (serveur.univ.tld étant l'adresse du serveur qui fait tourner l'application)

# Adresse d'écoute. de la forme [ip:]port
LSN_ADDR=8080

# Activer l'accès via https
ENABLE_SSL=
LSN_ADDR_SSL=8443

# Adresse de l'application. Nécessaire pour l'authentification CAS et la
# redirection https si l'accès via https est activé
APP_URL=http://localhost:8080

##~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
## Construction des images docker

# Source des paquets et proxy
APT_PROXY=
APT_MIRROR=default
SEC_MIRROR=default

# Timezone du serveur
TIMEZONE=Europe/Paris

# registre docker privé d'après lequel sont nommées les images
PRIVAREG=

################################################################################
# Ne pas toucher à partir d'ici

AUTH_BASIC=

REGISTRY=pubdocker.univ-reunion.fr/dist
DIST=d12
IMAGENAME=pv-jury-app/
#DEVUSER_USERENT=user:x:1000:1000:User,,,:/home/user:/bin/bash
#DEVUSER_GROUPENT=user:x:1000:
